.box-border {
    display: flex;
    flex-wrap: wrap;
    height: 204px;
    width: 204px;
    border: 2px dotted #000;
    margin: auto;
}

.box1 {
    height: 100px;
    width: 100px;
    background: lightblue;
    border: 1px solid black;
    position: relative;
}

.box2 {
    height: 100px;
    width: 100px;
    background: lightcoral;
    border: 1px solid black;
    position: relative;
}

.box3 {
    height: 100px;
    width: 100px;
    background: lightcyan;
    border: 1px solid black;
    position: relative;
}

.box4 {
    height: 100px;
    width: 100px;
    background: lightgoldenrodyellow;
    border: 1px solid black;
    position: relative;
}